*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .menu {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .container .menu li {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    line-height: 28px;
    color: #252b42;
    cursor: pointer;
}

.header .container .menu li:hover {
    color: #fa4a0c
}